{
  "notificationId": "1",
  "recipientUserId": "33c59afd-9970-4205-9198-84eba036d105",
  "messages": [
    {
      "deliveryChannel": "email",
      "header": "FOLIO account Password change",
      "body": "Reset password notification",
      "outputFormat": "text/plain",
      "attachments": [
        {
          "contentType": "image/jpeg",
          "name": "image name",
          "description": "image description",
          "data": "imagedata",
          "disposition": "inline",
          "contentId": "<image1@example.com>"
        }
      ]
    },
    {
      "type": "sms",
      "header": "FOLIO account Password change",
      "body": "Reset password notification"
    }
  ]
}
