{
  "notificationId": "c276e2ed-cc4b-4e3f-ad36-91aa3a4f4c2a",
  "recipientUserId": "33c59afd-9970-4205-9198-84eba036d105",
  "messages": [
    {
      "deliveryChannel": "email",
      "header": "Your Folio password changed",
      "body": "Dear Alex,\n\nYour password has been changed.",
      "outputFormat": "text/plain"
    },
    {
      "deliveryChannel": "sms",
      "header": "Your Folio password changed",
      "body": "Dear Alex, Your password has been changed.",
      "outputFormat": "text/plain"
    }
  ]
}
